
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# PyCharm artifacts
.idea/

# Environment directories (commonly used names for virtual environments)
.env
.venv/
env/
venv/
myenv/

# OSX
.DS_Store

# Logs
*.log





